/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
body {
  background-color: rgba(255, 248, 220, 0.15);
}
.div1 {
  background-color: rgba(255, 235, 205, 1);
  width: 340px;
  height: 279px;
  margin-left: 120px;
  margin-top: 60px;
  padding: 50px;
  display: block;
  position: relative;
}
.todo {
  background-color: rgba(255, 235, 205, 1);
  width: 340px;
  margin-left: 120px;
  margin-top: -120px;
  padding: 50px;
  display: block;
  position: relative;
}
.dropdown {
  float: right;
  margin-right: -150px;
  margin-top: -300px;
}
#selector {
  background-color: floralwhite;
  border-radius: 10px;
}

#Name {
  margin-bottom: 30px;

  margin-left: 12px;
  border-radius: 15px;
  height: 20px;
  background-color: #e6e6e6;
  border: thin solid transparent;
  padding-left: 5px;
}
#quantity {
  margin-left: 18px;
  margin-bottom: 30px;
  border-radius: 15px;
  height: 20px;
  background-color: #e6e6e6;
  border: thin solid transparent;
}
#type {
  margin-bottom: 30px;
  margin-left: 45px;
  border-radius: 15px;
  height: 20px;
  background-color: #e6e6e6;
  border: thin solid transparent;
}
#pdtname {
  padding-left: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 15px;
  height: 23px;
  background-color: #e6e6e6;
  border: thin solid transparent;
}
#mod {
  padding-left: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 15px;
  height: 23px;
  background-color: rgb(230, 230, 230);
  border: thin solid transparent;
}
button {
  margin-left: 3px;
  border-radius: 10px;
  height: 30px;
  background-color: #e6e6e6;
  border: thin solid transparent;
}
.pic {
  position: absolute;
  top: 59px;
  left: 580px;
  background-color: rgba(255, 235, 205, 1);
}
.addbutton {
  margin-left: 150px;
  margin-bottom: 15px;
  width: 90px;
  border: thin solid #333;
  background-color: rgba(230, 230, 230, 0.7);
}
.pdt {
  background-color: bisque;
  margin-left: 600px;
  margin-top: -450px;
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.item {
  background-color: rgba(255, 235, 205, 1);
  margin-left: 600px;
  margin-top: -450px;
  width: 35%;
  font-size: large;
  line-height: 40px;
  padding: 20px 50px;
}
.p {
}
